<div class="header__bottom-cart js-show-cart" data-delivery-price="3000" data-current-price="1689">
    <span class="header__bottom-cart-indicator js-cart-indicator"></span>
    <div class="header__bottom-cart-content">
        <a class="header__bottom-cart-link" href="#">Ваша корзина</a>
        :
        <span class="cart-price">25</span>
        тов.,
        <span class="cart-price">1 689</span>
        руб.
        <div class="header__bottom-cart-baloon js-cart-baloon js-custom-scroll">
            <div class="header__bottom-cart-baloon-indicator">
                <span class="header__bottom-cart-baloon-indicator-background js-cart-indicator"></span>
                <span class="header__bottom-cart-baloon-indicator-text">До бесплатной доставки осталось 1 311 руб.</span>
            </div>
            <div class="header__bottom-cart-baloon-container">
                <div class="baron__scroller">
                    <div class="header__bottom-cart-baloon-row">
                        <div class="header__bottom-cart-baloon-item">
                            <div class="header__bottom-cart-baloon__img"></div>
                            <div class="header__bottom-cart-baloon-info">
                                <p class="header__bottom-cart-baloon-info-text">Чай Рост черный байховый бергамот 25 пак 159.98 р/шт</p>
                                <p class="header__bottom-cart-baloon-info-text mod-red">2 шт / 503.98 р</p>
                            </div>
                            <div class="header__bottom-cart-baloon-item-delete">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="rgb(99, 110, 112)" width="12px" height="11px">
                                    <path fill-rule="evenodd" d="M11.414,10.282 L11.053,10.662 L6.000,5.861 L0.947,10.662 L0.586,10.282 L5.620,5.500 L0.586,0.718 L0.947,0.338 L6.000,5.139 L11.053,0.338 L11.414,0.718 L6.380,5.500 L11.414,10.282 Z"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="header__bottom-cart-baloon-row">
                        <div class="header__bottom-cart-baloon-item">
                            <div class="header__bottom-cart-baloon__img"></div>
                            <div class="header__bottom-cart-baloon-info">
                                <p class="header__bottom-cart-baloon-info-text">Чай Рост черный байховый бергамот 25 пак 159.98 р/шт</p>
                                <p class="header__bottom-cart-baloon-info-text mod-red">2 шт / 503.98 р</p>
                            </div>
                            <div class="header__bottom-cart-baloon-item-delete">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="rgb(99, 110, 112)" width="12px" height="11px">
                                    <path fill-rule="evenodd" d="M11.414,10.282 L11.053,10.662 L6.000,5.861 L0.947,10.662 L0.586,10.282 L5.620,5.500 L0.586,0.718 L0.947,0.338 L6.000,5.139 L11.053,0.338 L11.414,0.718 L6.380,5.500 L11.414,10.282 Z"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="header__bottom-cart-baloon-row">
                        <div class="header__bottom-cart-baloon-item">
                            <div class="header__bottom-cart-baloon__img"></div>
                            <div class="header__bottom-cart-baloon-info">
                                <p class="header__bottom-cart-baloon-info-text">Чай Рост черный байховый бергамот 25 пак 159.98 р/шт</p>
                                <p class="header__bottom-cart-baloon-info-text mod-red">2 шт / 503.98 р
                                    <span class="mod-label">Только неделю</span>
                                </p>
                            </div>
                            <div class="header__bottom-cart-baloon-item-delete">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="rgb(99, 110, 112)" width="12px" height="11px">
                                    <path fill-rule="evenodd" d="M11.414,10.282 L11.053,10.662 L6.000,5.861 L0.947,10.662 L0.586,10.282 L5.620,5.500 L0.586,0.718 L0.947,0.338 L6.000,5.139 L11.053,0.338 L11.414,0.718 L6.380,5.500 L11.414,10.282 Z"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="header__bottom-cart-baloon-row">
                        <div class="header__bottom-cart-baloon-item">
                            <div class="header__bottom-cart-baloon__img"></div>
                            <div class="header__bottom-cart-baloon-info">
                                <p class="header__bottom-cart-baloon-info-text">Чай Рост черный байховый бергамот 25 пак 159.98 р/шт</p>
                                <p class="header__bottom-cart-baloon-info-text mod-red">2 шт / 503.98 р
                                    <span class="mod-label">Только неделю</span>
                                </p>
                            </div>
                            <div class="header__bottom-cart-baloon-item-delete">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="rgb(99, 110, 112)" width="12px" height="11px">
                                    <path fill-rule="evenodd" d="M11.414,10.282 L11.053,10.662 L6.000,5.861 L0.947,10.662 L0.586,10.282 L5.620,5.500 L0.586,0.718 L0.947,0.338 L6.000,5.139 L11.053,0.338 L11.414,0.718 L6.380,5.500 L11.414,10.282 Z"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="baron__track">
                    <div class="baron__bar"></div>
                </div>
            </div>

            <a class="header__bottom-cart-baloon__button" href="#">Перейти в корзину</a>
        </div>
    </div>
</div>
