@charset "UTF-8";
.header {
  background: none; }
  .header__decor-1 {
    position: absolute;
    width: 307px;
    right: -30px;
    top: 76px;
    height: 120px;
    overflow: hidden; }
    @media screen and (max-width: 1170px) {
      .header__decor-1 {
        height: 86px; } }
    @media screen and (max-width: 720px) {
      .header__decor-1 {
        display: none; } }
    .header__decor-1 img {
      width: 100%; }
  .header__decor-2 {
    position: absolute;
    width: 307px;
    right: -30px;
    top: 204px;
    height: 20px;
    overflow: hidden; }
    @media screen and (max-width: 1170px) {
      .header__decor-2 {
        top: 264px; } }
    @media screen and (max-width: 720px) {
      .header__decor-2 {
        display: none; } }
    .header__decor-2 img {
      position: absolute;
      bottom: 0;
      width: 100%; }
  .header__deliv_time {
    top: 26px;
    left: 328px;
    width: 459px;
    font-size: 13px; }
    @media screen and (max-width: 1170px) {
      .header__deliv_time {
        left: 0;
        top: 90px; } }
    .header__deliv_time_row {
      margin-bottom: 10px; }
    .header__deliv_time_table table {
      width: auto; }
    .header__deliv_time_table td {
      color: #7b7b7b;
      text-decoration: line-through;
      padding-right: 13px; }
      .header__deliv_time_table td span {
        background-color: #ececec;
        border-radius: 11px; }
      .header__deliv_time_table td.current {
        text-decoration: none; }
        .header__deliv_time_table td.current span {
          color: white;
          background-color: #de2d42; }
      .header__deliv_time_table td.active {
        text-decoration: none; }
        .header__deliv_time_table td.active span {
          color: #525a5f;
          border-color: transparent; }
    .header__deliv_time_item {
      border-bottom: 1px solid #525a5f;
      color: #525a5f; }
      .header__deliv_time_item.active {
        border-bottom: 1px solid #de2d42;
        color: #de2d42; }
  .header__logo {
    top: 20px; }
  .header__tel {
    right: 0;
    top: 26px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: end;
            align-items: flex-end;
    padding-top: 0; }
    @media screen and (max-width: 940px) {
      .header__tel {
        margin-right: 0; } }
    .header__tel-text {
      font-size: 17px;
      line-height: 18px;
      color: #525a5f;
      margin: 0 0 11px 0;
      padding: 0; }
    .header__tel a {
      font-size: 24px;
      color: #de2d42;
      text-decoration: none;
      margin: 0;
      padding: 0; }
  .header .header__menu {
    background: none;
    top: 120px; }
    @media screen and (max-width: 1170px) {
      .header .header__menu {
        top: 170px; } }
    .header .header__menu_item {
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase; }
      .header .header__menu_item:not(:last-child) {
        margin-right: 32px; }
      .header .header__menu_item a {
        color: #353f45;
        font-size: 15px;
        padding: 0; }
  @media screen and (min-width: 721px) {
    .header__search {
      width: 82% !important;
      z-index: 802;
      top: auto;
      bottom: 8px;
      left: 0;
      width: 100%; } }
  @media screen and (min-width: 721px) and (max-width: 1170px) {
    .header__search {
      width: 75% !important; } }
  .header__search_button {
    position: relative;
    z-index: 202;
    background: url("../assets/img/search.png") no-repeat 40% 50%; }
  .header__bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 44px;
    top: 161px;
    background-color: #5f6269;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.16);
    z-index: 800; }
    @media screen and (max-width: 1170px) {
      .header__bottom {
        top: 221px; } }
    @media screen and (max-width: 720px) {
      .header__bottom {
        display: none; } }
    .header__bottom-container {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
      -webkit-box-pack: end;
              justify-content: flex-end;
      padding: 0;
      margin: 0 auto;
      width: 1148px;
      height: 100%; }
      @media screen and (max-width: 1170px) {
        .header__bottom-container {
          width: 890px; } }
      @media screen and (max-width: 940px) {
        .header__bottom-container {
          width: auto; } }
    .header__bottom-cart {
      position: relative;
      color: white;
      padding: 15px 9px 15px 19px;
      background-color: #de2d42;
      cursor: pointer; }
      .header__bottom-cart:hover {
        background-color: #5ab55e; }
      .header__bottom-cart.active {
        background-color: #5ab55e; }
      .header__bottom-cart a {
        color: white;
        text-decoration: none;
        border-bottom: 1px solid white; }
      .header__bottom-cart-link {
        position: relative;
        margin-left: 37px; }
        .header__bottom-cart-link:before {
          content: "";
          display: block;
          position: absolute;
          width: 23px;
          height: 23px;
          top: -4px;
          left: -37px;
          background: url("../assets/img/cart.png") no-repeat left; }
      .header__bottom-cart-baloon {
        position: absolute;
        display: none;
        top: 100%;
        right: 0;
        background-color: white;
        font-size: 13px;
        line-height: 1;
        color: #303030;
        padding: 10px 10px 20px 10px;
        width: 540px;
        border-radius: 4px;
        box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25); }
        .header__bottom-cart-baloon ::-webkit-scrollbar {
          width: 0; }
        .header__bottom-cart-baloon.active {
          display: block; }
        .header__bottom-cart-baloon a {
          font-size: 13px;
          line-height: 1;
          color: #303030; }
        .header__bottom-cart-baloon-container {
          position: relative; }
        .header__bottom-cart-baloon-row:hover {
          background-color: #f3f3f3; }
        .header__bottom-cart-baloon-item {
          display: -webkit-box;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
                  flex-direction: row;
          -webkit-box-align: center;
                  align-items: center;
          padding: 10px 0px 12px;
          margin: 0 10px;
          cursor: pointer;
          border-bottom: 1px solid #e3e3e3; }
          .header__bottom-cart-baloon-item-delete {
            width: 30px;
            height: 30px;
            padding: 9px;
            box-sizing: border-box;
            border-radius: 50%;
            margin-left: auto; }
            .header__bottom-cart-baloon-item-delete:hover {
              background-color: #5ab55e; }
              .header__bottom-cart-baloon-item-delete:hover svg {
                fill: white; }
        .header__bottom-cart-baloon__button {
          display: -webkit-box;
          display: flex;
          margin: 20px auto 0;
          font-size: 13px;
          line-height: 1;
          border: none;
          cursor: pointer;
          overflow: hidden;
          outline: none;
          padding: 13px 19px;
          background-color: #ececec;
          border-radius: 20px;
          width: 160px;
          box-sizing: border-box;
          text-align: center;
          -webkit-box-pack: center;
                  justify-content: center; }
        .header__bottom-cart-baloon__img {
          background: url("../assets/img/catalog/item.png") 50% 50% no-repeat;
          background-color: white;
          background-size: contain;
          width: 45px;
          height: 45px;
          margin-right: 10px; }
        .header__bottom-cart-baloon-info-text {
          margin: 0; }
          .header__bottom-cart-baloon-info-text:not(:last-child) {
            margin-bottom: 5px; }
        .header__bottom-cart-baloon-info .mod-red {
          color: #de2d42; }
  .header__input {
    border-radius: 16px;
    font-size: 13px;
    padding-left: 20px;
    position: relative;
    background-color: white;
    z-index: 201; }

.selectSite {
  margin: 0; }
  @media screen and (min-width: 721px) {
    .selectSite {
      background-color: #f3f3f3; } }
  .selectSite .destop {
    display: -webkit-box;
    display: flex;
    position: relative;
    margin: 0 auto;
    padding: 16px 0 17px;
    width: 1148px;
    color: #525a5f; }
    @media screen and (max-width: 1170px) {
      .selectSite .destop {
        width: 890px; } }
    @media screen and (max-width: 940px) {
      .selectSite .destop {
        width: auto;
        padding: 16px 10px 17px; } }
    @media screen and (max-width: 720px) {
      .selectSite .destop {
        display: none; } }
    .selectSite .destop a {
      border-bottom: 1px solid #525a5f;
      padding: 0;
      margin-left: 8px;
      background: none;
      position: relative; }
      .selectSite .destop a:hover {
        border-bottom: 1px solid transparent; }
      .selectSite .destop a:after {
        content: "";
        display: block;
        position: absolute;
        right: -18px;
        top: 0;
        width: 18px;
        height: 20px;
        background: url("../bitrix/templates/main_adaptive/img/arrowdown.png") no-repeat right; }
    .selectSite .destop .selectCity-vk {
      margin-left: 75px;
      font-size: 13px;
      color: #5181b8;
      border-bottom: 1px solid #5181b8; }
      .selectSite .destop .selectCity-vk:after {
        width: 21px;
        height: 20px;
        right: auto;
        left: -24px;
        background: url("../assets/img/vk.png") no-repeat right; }
    .selectSite .destop .selectCity-auth {
      font-size: 13px;
      color: #525a5f;
      border-bottom: 1px solid #525a5f;
      margin-left: auto; }
      .selectSite .destop .selectCity-auth:after {
        width: 21px;
        height: 20px;
        right: auto;
        left: -26px;
        background: url("../assets/img/auth.png") no-repeat right; }
    .selectSite .destop .baloon-select-city-form__city {
      border: none;
      padding: 8px 14px;
      background-color: #f3f3f3;
      color: black;
      margin: 0; }
      .selectSite .destop .baloon-select-city-form__city:after {
        display: none; }
      .selectSite .destop .baloon-select-city-form__city:hover {
        border: none; }
      .selectSite .destop .baloon-select-city-form__city:not(:last-child) {
        margin-right: 10px; }
      .selectSite .destop .baloon-select-city-form__city.active {
        background-color: #de2d42;
        color: white; }

.footer {
  background-color: #4f535d;
  border-top: none;
  padding: 30px 0 30px; }
  .footer-container {
    margin: 0 auto;
    padding: 0;
    width: 1148px;
    height: 100%;
    position: relative; }
    @media screen and (max-width: 1170px) {
      .footer-container {
        width: 890px; } }
    @media screen and (max-width: 940px) {
      .footer-container {
        width: auto;
        padding: 0 10px; } }

.foo__left {
  padding: 0; }

.foo__logo {
  margin-bottom: 25px; }

.foo__right {
  width: 250px;
  float: right; }
  @media screen and (max-width: 869px) {
    .foo__right {
      float: none;
      margin-bottom: 28px; } }

.foo__li {
  font-size: 14px;
  color: #fbfbfb;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 13px; }
  @media screen and (max-width: 869px) {
    .foo__li {
      display: inline-block;
      margin: 0 4px; } }
  @media screen and (max-width: 490px) {
    .foo__li {
      display: block;
      margin-bottom: 8px; } }
  .foo__li:first-child {
    margin-bottom: 30px; }
    @media screen and (max-width: 869px) {
      .foo__li:first-child {
        display: inline-block;
        margin: 0; } }
    @media screen and (max-width: 490px) {
      .foo__li:first-child {
        display: block;
        margin-bottom: 12px; } }
  .foo__li a {
    font-size: 13px;
    line-height: 16px;
    color: #fbfbfb;
    text-transform: none;
    font-weight: normal; }

.foo__copy {
  color: #fbfbfb;
  margin-bottom: 13px; }

.foo__dev {
  color: #fbfbfb; }
  .foo__dev a {
    color: #fbfbfb;
    text-decoration: none; }
    .foo__dev a:hover {
      color: #DA251D; }

.foo__snegiri {
  display: block;
  text-align: center;
  margin-bottom: 30px; }

@media (max-width: 720px) {
  .content.cf {
    display: inline-block;
    width: 100%; } }

.content__center {
  float: right;
  padding-left: 33px;
  padding-right: 0;
  color: #232833; }
  @media screen and (max-width: 1170px) {
    .content__center {
      overflow: hidden;
      float: none;
      width: auto;
      padding: 0; } }

@media screen and (max-width: 1170px) {
  .site_container .content__left {
    float: left;
    width: auto;
    position: relative; } }

.aside__news h2 {
  font-size: 13px;
  color: black;
  font-weight: bold;
  text-transform: uppercase; }

.aside__news a {
  color: black; }

.aside__allnews {
  top: 0;
  text-transform: none;
  font-weight: normal; }

.aside__menu {
  position: relative;
  margin: 0 0 30px;
  border: none; }
  .aside__menu ::-webkit-scrollbar {
    width: 0; }
  @media screen and (max-width: 1170px) {
    .aside__menu {
      display: none; } }
  .aside__menu_ul_li {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid #e1e1e1;
    color: #525a5f;
    cursor: pointer; }
    .aside__menu_ul_li span {
      position: relative;
      padding: 12px 36px;
      color: #525a5f; }
      .aside__menu_ul_li span.arrow:after {
        content: "";
        display: block;
        position: absolute;
        right: 16px;
        top: calc(50% - 10px);
        width: 10px;
        height: 20px;
        background: url("../assets/img/catalog/arrow.svg") no-repeat right; }
      .aside__menu_ul_li span:hover {
        color: white;
        background-color: #de2d42; }
        .aside__menu_ul_li span:hover svg {
          fill: white; }
        .aside__menu_ul_li span:hover.arrow:after {
          background: url("../assets/img/catalog/arrow-white.svg") no-repeat right; }
    .aside__menu_ul_li a {
      color: inherit;
      text-decoration: none; }
    .aside__menu_ul_li svg {
      position: absolute;
      left: 8px;
      top: calc(50% - 10px);
      width: 20px;
      height: 20px;
      margin: 0; }
    .aside__menu_ul_li.active > .aside__menu_ul-sub {
      display: block; }
    .aside__menu_ul_li.active > span {
      background-color: #de2d42;
      color: white; }
      .aside__menu_ul_li.active > span svg {
        fill: white; }
      .aside__menu_ul_li.active > span:after {
        background: url("../assets/img/catalog/arrow-white.svg") no-repeat right;
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); }
  .aside__menu_ul-sub {
    display: none;
    padding: 0;
    margin-left: 12px; }
    .aside__menu_ul-sub .aside__menu_ul_li {
      border-bottom: 1px solid transparent; }
      .aside__menu_ul-sub .aside__menu_ul_li span {
        background-color: transparent;
        color: #525a5f;
        padding: 6px 36px 6px 24px; }
        .aside__menu_ul-sub .aside__menu_ul_li span:hover {
          color: #de2d42;
          text-decoration: underline; }
          .aside__menu_ul-sub .aside__menu_ul_li span:hover svg {
            fill: white; }
          .aside__menu_ul-sub .aside__menu_ul_li span:hover.arrow:after {
            background: url("../assets/img/catalog/arrow-red.svg") no-repeat right; }
      .aside__menu_ul-sub .aside__menu_ul_li.active > .aside__menu_ul-sub {
        display: block; }
      .aside__menu_ul-sub .aside__menu_ul_li.active > span {
        color: #de2d42;
        text-decoration: underline; }
        .aside__menu_ul-sub .aside__menu_ul_li.active > span svg {
          fill: white; }
        .aside__menu_ul-sub .aside__menu_ul_li.active > span.arrow:after {
          background: url("../assets/img/catalog/arrow.svg") no-repeat right;
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg); }
        .aside__menu_ul-sub .aside__menu_ul_li.active > span:hover.arrow:after {
          background: url("../assets/img/catalog/arrow-red.svg") no-repeat right; }

.content__left {
  width: 260px; }

.baloon-select-city {
  display: none;
  font-size: 13px;
  color: black;
  background-color: white;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  padding: 20px 20px 30px;
  box-sizing: border-box;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.27);
  border-radius: 20px;
  width: 390px; }
  .baloon-select-city.active {
    display: block; }
  .baloon-select-city-top {
    color: #de2d42;
    margin-bottom: 19px; }
  .baloon-select-city-row {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    margin-bottom: 30px; }
    .baloon-select-city-row.mod-address {
      margin-bottom: 10px; }
    .baloon-select-city-row.mod-comment {
      margin-bottom: 15px; }
    .baloon-select-city-row.mod-buttons {
      margin-bottom: 0; }
  .baloon-select-city-form__radio {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-right: 10px;
    font-size: 13px;
    line-height: 1; }
    .baloon-select-city-form__radio input {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0; }
      .baloon-select-city-form__radio input:checked + span {
        background-color: #de2d42;
        color: white; }
    .baloon-select-city-form__radio span {
      display: block;
      padding: 8px 14px;
      background-color: #f3f3f3;
      border-radius: 15px;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
  .baloon-select-city-form__city {
    font-size: 13px;
    line-height: 1;
    padding: 8px 14px;
    background-color: #de2d42;
    color: white;
    border-radius: 15px;
    -webkit-transition: all 0.15s;
    transition: all 0.15s; }
  .baloon-select-city-form__input {
    position: relative;
    width: 100%; }
    .baloon-select-city-form__input:not(:last-child) {
      margin-right: 9px; }
    .baloon-select-city-form__input input {
      padding: 9px 10px 7px;
      outline: none;
      font-weight: normal;
      font-family: 'Roboto', sans-serif;
      width: 100%; }
      .baloon-select-city-form__input input:not(:placeholder-shown) + span {
        top: -6px;
        left: 8px;
        font-size: 10px;
        line-height: 1;
        padding: 0 4px;
        color: #353f45; }
      .baloon-select-city-form__input input:focus + span {
        top: -6px;
        left: 8px;
        font-size: 10px;
        line-height: 1;
        padding: 0 4px;
        color: #353f45; }
    .baloon-select-city-form__input span {
      position: absolute;
      padding: 4px 10px 7px;
      background-color: white;
      top: 5px;
      left: 5px;
      cursor: text;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
    .baloon-select-city-form__input.street {
      width: 214px; }
    .baloon-select-city-form__input.building {
      width: 57px; }
    .baloon-select-city-form__input.apartment {
      width: 57px; }
  .baloon-select-city-form__button {
    font-size: 13px;
    line-height: 1;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 8px 14px;
    background-color: #f3f3f3;
    border-radius: 15px; }
    .baloon-select-city-form__button:not(:last-child) {
      margin-right: 10px; }
    .baloon-select-city-form__button.submit {
      background-color: #de2d42;
      color: white; }
  .baloon-select-city-tail {
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: -30px;
    right: -24px;
    background-color: white;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    z-index: 1001; }
    .baloon-select-city-tail.active {
      display: block; }

.search-baloon {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  right: 0;
  border-radius: 4px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: white;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
  padding: 30px 0 20px;
  z-index: 200; }
  .search-baloon a {
    display: block;
    text-decoration: none;
    width: 100%; }
    .search-baloon a:hover {
      background-color: #f3f3f3; }
  .search-baloon.active {
    display: block; }
  .search-baloon-row {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    padding: 8px 20px 15px;
    margin: 0 20px;
    cursor: pointer;
    border-bottom: 1px solid #e3e3e3; }
  .search-baloon__img {
    background: url("../assets/img/catalog/baloon-img.png") 50% 50% no-repeat;
    background-color: white;
    background-size: contain;
    width: 68px;
    margin-right: 20px; }
  .search-baloon-info__top {
    font-size: 10px;
    color: #444444;
    text-decoration: underline;
    margin-bottom: 9px; }
  .search-baloon-info__description {
    font-size: 13px;
    font-style: italic;
    margin-bottom: 7px;
    color: #444444; }
  .search-baloon-info__name {
    color: #de2d42; }
  .search-baloon-info__price {
    font-size: 13px;
    color: #de2d42;
    margin-bottom: 0; }
    .search-baloon-info__price .bold {
      font-weight: bold; }
  .search-baloon__button {
    display: -webkit-box;
    display: flex;
    margin: 20px auto 0;
    font-size: 13px;
    line-height: 1;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 13px 19px;
    background-color: #ececec;
    border-radius: 20px;
    color: black; }
    .search-baloon__button:not(:last-child) {
      margin-right: 10px; }

.mod-label {
  padding: 4px 8px;
  border-radius: 3px;
  background-color: #de2d42;
  font-size: 10px;
  line-height: 1;
  color: white;
  text-transform: uppercase;
  margin-left: 12px; }

.baron__scroller {
  padding-right: 20px;
  max-height: 220px;
  position: relative; }

ul.baron__scroller {
  padding-right: 20px;
  max-height: 800px;
  position: relative; }

.baron__track {
  height: 100%;
  width: 6px;
  background: #f2f2f2;
  position: absolute;
  top: 0;
  right: 6px;
  bottom: 0; }

.baron__bar {
  width: 100%;
  height: 50px;
  position: absolute;
  right: 1px;
  z-index: 1;
  width: 4px;
  background: #a0b2bd; }

.goods__item {
  padding: 0; }
  .goods__item_body {
    padding: 19px 17px 16px 17px; }
    @media screen and (max-width: 480px) {
      .goods__item_body {
        padding-left: 110px; } }

.goods__img {
  border: none;
  margin-bottom: 10px; }

.goods__middle {
  height: 40px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  margin-bottom: 4px; }
  .goods__middle-price {
    display: none;
    font-size: 15px;
    line-height: 22px;
    color: #5ab55e;
    font-weight: bold;
    text-align: center; }
  .goods__middle-profit {
    display: none;
    font-size: 13px;
    color: #444;
    text-align: center;
    line-height: 18px; }

.goods__bottom {
  height: 44px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  justify-content: space-around; }
  .goods__bottom_price {
    margin-right: auto; }
    .goods__bottom_price-new {
      font-size: 13px;
      line-height: 1;
      color: #434d54; }
      .goods__bottom_price-new .price {
        font-size: 15px;
        font-weight: bold; }
      .goods__bottom_price-new .unit {
        display: inline;
        font-size: 13px;
        line-height: 1; }
    .goods__bottom_price-old {
      font-size: 13px;
      line-height: 1;
      color: #444444;
      text-decoration: line-through;
      margin-bottom: 10px; }
      .goods__bottom_price-old .unit {
        display: inline;
        font-size: 13px;
        line-height: 1; }
  .goods__bottom input {
    font-size: 15px;
    color: #5ab55e;
    font-weight: bold;
    width: 40px;
    text-align: center;
    border: none; }
  .goods__bottom-counter {
    display: none; }
  .goods__bottom-button {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    box-sizing: border-box;
    border: 1px solid #444;
    color: #444;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 14px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
    transition: background-color 0.3s, color 0.3s, border 0.3s; }
    .goods__bottom-button:hover {
      background-color: #5ab55e;
      border: 1px solid transparent;
      color: white;
      -webkit-transition: background-color 0.1s, color 0.1s, border 0.1s;
      transition: background-color 0.1s, color 0.1s, border 0.1s; }
    .goods__bottom-button.mod-minus {
      display: none; }

.goods__row_buy {
  background-color: white; }

.goods__tag {
  display: block;
  text-transform: uppercase;
  background-color: #de2d42;
  font-size: 10px;
  line-height: 16px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 4px 10px 4px; }
  .goods__tag-sale {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row; }
    .goods__tag-sale-left {
      width: 70%;
      text-transform: uppercase;
      background-color: #fede39;
      font-size: 10px;
      line-height: 16px;
      color: #de2d42;
      font-weight: bold;
      text-align: center;
      padding: 4px 0 4px; }
    .goods__tag-sale-right {
      width: 30%;
      text-transform: uppercase;
      background-color: #de2d42;
      font-size: 10px;
      line-height: 16px;
      color: white;
      font-weight: bold;
      text-align: center;
      padding: 4px 0 4px; }

.in-cart .goods__bottom_price {
  display: none; }

.in-cart .goods__tag {
  display: none; }

.in-cart .goods__tag-sale {
  display: none; }

.in-cart .goods__bottom-button.mod-minus {
  display: -webkit-box;
  display: flex; }

.in-cart .goods__bottom-counter {
  display: block; }

.in-cart .goods__middle-price {
  display: block; }

.in-cart .goods__middle-profit {
  display: block; }

.catalog__row_filter {
  margin-top: 13px;
  margin-bottom: 38px; }
  @media screen and (min-width: 491px) {
    .catalog__row_filter {
      width: 458px;
      margin-left: auto; } }

.catalog__wrp_filter:nth-child(3) {
  left: 260px; }

/* страница корзины */
.content__center-cart {
  float: left;
  padding-left: 0;
  padding-right: 33px;
  width: 610px; }
  @media screen and (max-width: 1170px) {
    .content__center-cart {
      width: 100%;
      padding-right: 0; } }

.content__right-cart {
  width: 480px; }
  @media screen and (max-width: 1170px) {
    .content__right-cart {
      width: 100%; } }

.cart-new {
  margin: 30px 0 60px 0; }
  @media screen and (max-width: 540px) {
    .cart-new {
      margin-bottom: 30px; } }
  .cart-new-category {
    margin-bottom: 30px; }
    .cart-new-category__title {
      font-size: 15px;
      line-height: 18px;
      color: #5ab55e;
      font-weight: bold;
      margin-bottom: 10px; }
    .cart-new-category-item {
      position: relative;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
      border-radius: 50px;
      background-color: #e4f7e5;
      overflow: hidden;
      border: 1px solid transparent;
      min-height: 137px;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
      @media screen and (max-width: 540px) {
        .cart-new-category-item {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
                  flex-direction: column;
          border-radius: 30px;
          min-height: 114px; } }
      .cart-new-category-item:not(:last-child) {
        margin-bottom: 10px; }
      .cart-new-category-item__close {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 50px;
        cursor: pointer;
        -webkit-transition: all 0.2s;
        transition: all 0.2s; }
        @media screen and (max-width: 540px) {
          .cart-new-category-item__close {
            width: 12px;
            height: 12px;
            left: auto;
            top: 15px;
            right: 15px; }
            .cart-new-category-item__close svg {
              top: 0;
              left: 0; } }
        .cart-new-category-item__close:hover {
          background-color: #de2d42; }
          @media screen and (max-width: 540px) {
            .cart-new-category-item__close:hover {
              background-color: transparent; } }
          .cart-new-category-item__close:hover svg {
            fill: white; }
            @media screen and (max-width: 540px) {
              .cart-new-category-item__close:hover svg {
                fill: #de2d42; } }
        .cart-new-category-item__close svg {
          position: absolute;
          top: calc(50% - 6px);
          left: calc(50% - 6px);
          -webkit-transition: all 0.2s;
          transition: all 0.2s; }
      .cart-new-category-item__img {
        position: absolute;
        left: 50px;
        top: calc(50% - 53px);
        width: 107px;
        height: 107px;
        margin: 0;
        overflow: hidden; }
        @media screen and (max-width: 540px) {
          .cart-new-category-item__img {
            width: 84px;
            height: 84px;
            top: 15px;
            left: 15px; } }
        .cart-new-category-item__img img {
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          -o-object-fit: contain;
             object-fit: contain; }
      .cart-new-category-item-info {
        padding: 15px 175px 15px 172px; }
        @media screen and (max-width: 540px) {
          .cart-new-category-item-info {
            padding: 15px 40px 15px 115px;
            min-height: 84px; } }
        .cart-new-category-item-info__name {
          font-size: 13px;
          line-height: 16px;
          color: #444;
          margin-bottom: 10px; }
        .cart-new-category-item-info__tag {
          display: block;
          text-transform: uppercase;
          background-color: #de2d42;
          font-size: 10px;
          line-height: 16px;
          color: white;
          font-weight: bold;
          text-align: center;
          padding: 4px 10px 4px;
          max-width: 180px;
          box-sizing: border-box; }
          .cart-new-category-item-info__tag:not(:last-child) {
            margin-bottom: 10px; }
          .cart-new-category-item-info__tag-sale {
            display: -webkit-box;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                    flex-direction: row;
            box-sizing: border-box;
            max-width: 180px; }
            .cart-new-category-item-info__tag-sale:not(:last-child) {
              margin-bottom: 10px; }
            .cart-new-category-item-info__tag-sale-left {
              width: 70%;
              text-transform: uppercase;
              background-color: #fede39;
              font-size: 10px;
              line-height: 16px;
              color: #de2d42;
              font-weight: bold;
              text-align: center;
              padding: 4px 0 4px; }
            .cart-new-category-item-info__tag-sale-right {
              width: 30%;
              text-transform: uppercase;
              background-color: #de2d42;
              font-size: 10px;
              line-height: 16px;
              color: white;
              font-weight: bold;
              text-align: center;
              padding: 4px 0 4px; }
      .cart-new-category-item-right {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-box-pack: center;
                justify-content: center;
        -webkit-box-align: center;
                align-items: center;
        width: 160px;
        padding: 26px 30px;
        box-sizing: border-box;
        border-radius: 50px;
        background-color: #cdefcf; }
        @media screen and (max-width: 540px) {
          .cart-new-category-item-right {
            position: relative;
            border-radius: 30px;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                    flex-direction: row;
            -webkit-box-pack: end;
                    justify-content: flex-end;
            -webkit-box-align: center;
                    align-items: center;
            width: 100%;
            padding: 15px 40px; } }
      .cart-new-category-item__discount {
        font-size: 13px;
        line-height: 15px;
        color: black;
        text-align: center;
        margin-bottom: 15px;
        white-space: nowrap; }
        @media screen and (max-width: 540px) {
          .cart-new-category-item__discount {
            margin: 0 20px 0 0; } }
      .cart-new-category-item__control {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        -webkit-box-pack: justify;
                justify-content: space-between;
        margin-bottom: 16px;
        width: 100%; }
        @media screen and (max-width: 540px) {
          .cart-new-category-item__control {
            width: 100px;
            margin: 0 20px 0 0; } }
        .cart-new-category-item__control:first-child {
          margin-top: 10px; }
          @media screen and (max-width: 540px) {
            .cart-new-category-item__control:first-child {
              margin: 0 20px 0 auto; } }
      .cart-new-category-item__button {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        -webkit-box-pack: center;
                justify-content: center;
        -webkit-box-align: center;
                align-items: center;
        box-sizing: border-box;
        border: 1px solid #444;
        color: #444;
        width: 25px;
        height: 25px;
        border-radius: 8px;
        font-size: 14px;
        line-height: 14px;
        cursor: pointer;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
        transition: background-color 0.3s, color 0.3s, border 0.3s; }
        .cart-new-category-item__button:hover {
          background-color: #5ab55e;
          border: 1px solid transparent;
          color: white;
          -webkit-transition: background-color 0.1s, color 0.1s, border 0.1s;
          transition: background-color 0.1s, color 0.1s, border 0.1s; }
      .cart-new-category-item input {
        font-size: 15px;
        color: #5ab55e;
        font-weight: bold;
        width: 40px;
        text-align: center;
        border: none;
        background-color: transparent; }
      .cart-new-category-item__price {
        font-size: 15px;
        line-height: 17px;
        color: #5ab55e;
        font-weight: bold;
        margin: 0;
        white-space: nowrap; }

.cart-aside {
  padding: 59px 0 0; }
  @media screen and (max-width: 1170px) {
    .cart-aside {
      padding: 0 0 30px 0; } }
  .cart-aside-container {
    border-radius: 10px;
    background-color: #fbfbfb;
    overflow: hidden;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.24); }
  .cart-aside-top {
    padding: 40px;
    background: url("../assets/img/cart/cart-top.png") 50% 50% no-repeat;
    background-color: white;
    background-size: cover; }
    @media screen and (max-width: 540px) {
      .cart-aside-top {
        padding: 15px; } }
    .cart-aside-top__title {
      font-size: 13px;
      line-height: 16px;
      color: white;
      font-weight: bold;
      width: 70%;
      margin-bottom: 20px; }
      @media screen and (max-width: 540px) {
        .cart-aside-top__title {
          width: 100%;
          margin-bottom: 15px; } }
    .cart-aside-top-form {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
      -webkit-box-pack: justify;
              justify-content: space-between; }
      @media screen and (max-width: 1170px) {
        .cart-aside-top-form {
          -webkit-box-pack: start;
                  justify-content: flex-start; } }
      @media screen and (max-width: 540px) {
        .cart-aside-top-form {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
                  flex-direction: column; } }
    .cart-aside-top__input {
      position: relative;
      width: 216px;
      margin-right: 18px; }
      @media screen and (max-width: 540px) {
        .cart-aside-top__input {
          width: 100%;
          margin-bottom: 15px; } }
      .cart-aside-top__input:before {
        position: absolute;
        width: 20px;
        height: 16px;
        opacity: 0;
        top: 10px;
        left: -20px;
        display: block;
        content: url("../assets/img/cart/snegiri-ok.svg");
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease; }
      .cart-aside-top__input.locked input {
        padding-left: 37px;
        background-color: #5ab55e;
        color: white;
        border-color: #5ab55e; }
      .cart-aside-top__input.locked:before {
        top: 10px;
        left: 10px;
        opacity: 1; }
      .cart-aside-top__input input {
        padding: 10px 15px;
        outline: none;
        font-size: 13px;
        line-height: 18px;
        font-weight: normal;
        font-family: 'Roboto', sans-serif;
        width: 100%;
        background-color: white;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease; }
    .cart-aside-top .cart-aside-top__button {
      border: none;
      padding: 11px 20px 11px 24px;
      background-color: #de2d42;
      font-size: 13px;
      line-height: 18px;
      color: white;
      margin: 0;
      border-radius: 20px;
      text-decoration: none;
      box-sizing: border-box;
      min-width: 147px;
      text-align: center; }
      @media screen and (max-width: 540px) {
        .cart-aside-top .cart-aside-top__button {
          width: 100%; } }
  .cart-aside-bottom {
    padding: 40px; }
    @media screen and (max-width: 540px) {
      .cart-aside-bottom {
        padding: 15px; } }
    .cart-aside-bottom-price {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row; }
      .cart-aside-bottom-price-col {
        width: 50%; }
      .cart-aside-bottom-price__text {
        font-size: 13px;
        color: black;
        font-weight: bold;
        margin-bottom: 18px; }
        @media screen and (max-width: 540px) {
          .cart-aside-bottom-price__text {
            margin-bottom: 12px; } }
      .cart-aside-bottom-price__sum {
        font-size: 24px;
        color: #de2d42;
        font-weight: bold;
        margin-bottom: 38px; }
        @media screen and (max-width: 540px) {
          .cart-aside-bottom-price__sum {
            font-size: 20px;
            margin-bottom: 20px; } }
    .cart-aside-bottom-info {
      margin-bottom: 40px; }
      @media screen and (max-width: 540px) {
        .cart-aside-bottom-info {
          margin-bottom: 20px; } }
      .cart-aside-bottom-info__text {
        position: relative;
        font-size: 13px;
        line-height: 15px;
        color: black;
        margin-bottom: 13px; }
        .cart-aside-bottom-info__text:before {
          content: "*";
          font-size: 13px;
          line-height: 15px;
          display: block;
          position: absolute;
          left: -12px;
          top: 1px;
          color: #de2d42; }
    .cart-aside-bottom .cart-aside-bottom__button {
      font-size: 17px;
      line-height: 18px;
      font-weight: bold;
      text-transform: uppercase;
      color: white;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none;
      padding: 21px 20px 26px;
      background-color: #de2d42;
      border-radius: 0;
      width: 100%; }

.mod-green {
  color: #5ab55e; }

.mod-red {
  color: #de2d42; }

.mod-over {
  background-color: transparent;
  color: #8c8c8c;
  border: 1px solid #8c8c8c;
  padding-top: 3px;
  padding-bottom: 3px; }

.mod-temporary {
  border: 1px solid #de2d42; }

.mod-deleted {
  background-color: #ffd5da; }

.sticky {
  position: fixed;
  z-index: 101; }

.stop {
  position: relative;
  z-index: 101; }

.content__wide {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  float: none;
  font-size: 15px;
  line-height: 1.5;
  color: #232833; }

.site_container, .block__popup, body {
  font-family: 'Roboto', sans-serif; }

.site_container input, .site_container textarea, .site_container button, .block__popup input, .block__popup textarea, .block__popup button {
  font-family: 'Roboto', sans-serif; }

.site_container a, .block__popup a, .ui-datepicker a, .block__popup a {
  font-family: 'Roboto', sans-serif; }

.category__list .c-category__title {
  font-family: 'Roboto', sans-serif; }

.goods__bought .goods__incart_number {
  font-family: 'Roboto', sans-serif; }

.popup_auth .tabs > label {
  font-family: 'Roboto', sans-serif; }

.site_container .category__menu_link {
  font-family: 'Roboto', sans-serif; }

.site_container .category__menu_item a {
  font-family: 'Roboto', sans-serif; }

.category__list .c-category__title {
  font-family: 'Roboto', sans-serif; }

.goods__price-old {
  font-family: 'Roboto', sans-serif; }

.site_container .category__submenu_item a {
  font-family: 'Roboto', sans-serif; }

.product-card {
  font-family: 'Roboto', sans-serif; }

.pie {
  font-family: 'Roboto', sans-serif; }

.pie-form {
  font-family: 'Roboto', sans-serif; }

.c-filter-tab__title {
  font-family: 'Roboto', sans-serif; }

.pie-order-success {
  font-family: 'Roboto', sans-serif; }

.goods__price-for-card span {
  font-family: 'Roboto', sans-serif; }

.c-pagination {
  font-family: 'Roboto', sans-serif; }

.sales_block {
  font-family: 'Roboto', sans-serif; }

#fancybox-title {
  font-family: 'Roboto', sans-serif; }

div.title-search-result {
  font-family: 'Roboto', sans-serif; }

.aside__row_total {
  font-family: 'Roboto', sans-serif; }

.aside__row_total b {
  font-family: 'Roboto', sans-serif; }

.aside__user_item {
  font-family: 'Roboto', sans-serif; }

.header__contact {
  font-family: 'Roboto', sans-serif; }

.header__tel--mobile-text {
  font-family: 'Roboto', sans-serif; }

.header__tel--mobile-call {
  font-family: 'Roboto', sans-serif; }

.site_container .mobile-btn_menu, .site_container .mobile-btn_basket {
  font-family: 'Roboto', sans-serif; }

.header__menu_item a, .category__menu_item a {
  font-family: 'Roboto', sans-serif; }

.aside__menu .aside__menu_item a {
  font-family: 'Roboto', sans-serif; }

.site_container .mobile-close {
  font-family: 'Roboto', sans-serif; }

a.show-readmore, a.hide-readmore {
  font-family: 'Roboto', sans-serif; }

.site_container .popap-basket .mobile-close {
  font-family: 'Roboto', sans-serif; }

.content__fonts {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.66;
  color: #232833;
  font-weight: 300; }
  .content__fonts h1 {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: bold;
    color: #de2d42;
    text-transform: uppercase; }
  .content__fonts h2 {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: normal;
    color: #232833;
    line-height: 1.2; }
  .content__fonts h3, .content__fonts h4, .content__fonts h5 {
    font-family: 'Roboto', sans-serif;
    color: #232833; }
  .content__fonts p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.66;
    color: #232833;
    font-weight: 300; }
  .content__fonts a {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 1.66;
    font-weight: normal;
    color: #232833;
    text-decoration: none; }
    .content__fonts a:hover {
      text-decoration: underline; }
  .content__fonts blockquote {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.66;
    color: #232833;
    font-weight: 300;
    font-style: italic; }
  .content__fonts .mod-signature {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.66;
    color: #9e9e9e;
    text-align: right;
    font-weight: 300; }

.breadcrumbs {
  color: #9e9e9e;
  font-size: 15px;
  margin-bottom: 20px;
  font-weight: 300; }
  .breadcrumbs a {
    color: #9e9e9e;
    font-size: 15px;
    font-weight: 300; }
  .breadcrumbs span {
    margin: 0; }
  .breadcrumbs .mod-last {
    color: #232833; }

.purchases-categories {
  margin-bottom: 12px; }
  .purchases-categories-top {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: start;
            justify-content: flex-start;
    padding: 10px 0;
    border-bottom: 1px solid #a9ce29;
    margin-bottom: 13px; }
    .purchases-categories-top__button {
      position: relative;
      font-size: 14px;
      line-height: 18px;
      color: white;
      padding: 8px 35px 6px 20px;
      border-radius: 4px;
      background-color: #a9ce29;
      cursor: pointer; }
      .purchases-categories-top__button::after {
        content: "";
        display: block;
        position: absolute;
        right: 16px;
        top: calc(50% - 3px);
        width: 10px;
        height: 7px;
        background: url(../assets/img/catalog/arrow-white.svg) no-repeat top;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        -webkit-transition: -webkit-transform 0.4s;
        transition: -webkit-transform 0.4s;
        transition: transform 0.4s;
        transition: transform 0.4s, -webkit-transform 0.4s; }
  .purchases-categories-body {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    height: 0px;
    overflow: hidden; }
    .purchases-categories-body .catalog-filter__list {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      list-style-type: none;
      margin-bottom: 13px; }
    .purchases-categories-body .catalog-filter__item {
      width: 33%;
      font-size: 14px;
      color: #525a5f; }
      @media screen and (max-width: 720px) {
        .purchases-categories-body .catalog-filter__item {
          width: 50%; } }
      @media screen and (max-width: 480px) {
        .purchases-categories-body .catalog-filter__item {
          width: 100%; } }
      .purchases-categories-body .catalog-filter__item label {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        -webkit-box-align: center;
                align-items: center;
        margin-bottom: 17px;
        margin-right: 10px;
        cursor: pointer; }
      .purchases-categories-body .catalog-filter__item input.checkbox[type="checkbox"]:checked ~ span {
        font-weight: 500;
        color: #a9ce29; }
      .purchases-categories-body .catalog-filter__item input.checkbox[type="checkbox"]:checked ~ .checkbox {
        background-position: 0 -35px; }
      .purchases-categories-body .catalog-filter__item span.checkbox {
        display: block;
        width: 20px;
        min-width: 20px;
        height: 20px;
        background: url(../assets/img/checkbox-new.png) no-repeat 0 0;
        margin-right: 9px; }
    .purchases-categories-body__button {
      background-color: #f3f3f3;
      padding: 6px 18px 7px;
      font-size: 14px;
      line-height: 18px;
      color: #525a5f;
      border-radius: 15px;
      cursor: pointer; }
  .purchases-categories.active {
    margin-bottom: 36px; }
    .purchases-categories.active .purchases-categories-top__button::after {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    .purchases-categories.active .purchases-categories-body {
      height: auto; }
