<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Бланк заказа</title>
        <link rel="stylesheet" href="fonts/roboto/roboto.css">
        <link rel="stylesheet" href="styles/forms.css">
    </head>
    <body>
        <table border="0" cellpadding="0" cellspacing="0" class="body">
            <tbody>
                <tr>
                    <td class="container">
                        <div class="content">
                            <!-- START CENTERED WHITE CONTAINER -->
                            <table width="1240" class="main">
                                <!-- START MAIN CONTENT AREA -->
                                <tbody>
                                    <tr>
                                        <td class="wrapper">
                                            <!--HEADER-->
                                            <table class="main-header" border="0" cellpadding="0" cellspacing="0" width="100%" height="" bgcolor="">
                                                <thead>
                                                    <tr>
                                                        <td class="main-header-title" style="padding-bottom: 16px;">
                                                            <span>Заказ № 45279</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="main-header-title" style="padding-bottom: 35px;">
                                                            <span>Дата: 04.09.20г.</span>
                                                            <span> / </span>
                                                            <span>Время доставки: 9:00 - 12:00ч.</span>
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="main-header-block">
                                                            <span>Способ оплаты: </span>
                                                            <span>Оплата по безналичному расчёту</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="main-header-block">
                                                            <span>Заказ сформирован: </span>
                                                            <span>03.09.20г в 11:32</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="main-header-block">
                                                            <span>Комментарий к заказу: </span>
                                                            <span>2 бокс</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="main-header-block">
                                                            <span class="mod-bold">ЗАКАЗЧИК: </span>
                                                            <span style="margin-right: 55px;">Сорокина Лада</span>
                                                            <span class="mod-bold">Телефон: </span>
                                                            <span>+7 900 562 23 12</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="main-header-block">
                                                            <span class="mod-bold">Адрес: </span>
                                                            <span>Юбилейная, д.51, кв.43, подъезд 4, этаж 5</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!--END HEADER-->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="wrapper">
                                            <table class="main-items" border="0" cellpadding="0" cellspacing="0" width="100%" height="" bgcolor="">
                                                <thead>
                                                    <tr>
                                                        <td>
                                                            #
                                                        </td>
                                                        <td>
                                                            Артикул
                                                        </td>
                                                        <td>
                                                            Наименование
                                                        </td>
                                                        <td style="text-align: center;">
                                                            Кол&#8209;во
                                                        </td>
                                                        <td style="text-align: center;">
                                                            <span>Цена</span>
                                                            </br>
                                                            <span style="font-size: 18px;">(руб.)</span>
                                                        </td>
                                                        <td style="text-align: center;">
                                                            <span>Сумма</span>
                                                            </br>
                                                            <span style="font-size: 18px;">(руб.)</span>
                                                            
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            1
                                                        </td>
                                                        <td>
                                                            0458645
                                                        </td>
                                                        <td>
                                                            Батон нарезной упакованный половинка 200г. Арххлеб
                                                        </td>
                                                        <td style="text-align: center;">
                                                            2 шт.
                                                        </td>
                                                        <td style="text-align: center;">
                                                            29,39
                                                        </td>
                                                        <td style="text-align: center;">
                                                            58,78
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            1
                                                        </td>
                                                        <td>
                                                            0458645
                                                        </td>
                                                        <td>
                                                            Батон нарезной упакованный половинка 200г. Арххлеб
                                                        </td>
                                                        <td style="text-align: center; white-space: nowrap;">
                                                            2 шт.
                                                        </td>
                                                        <td style="text-align: center; white-space: nowrap;">
                                                            29,39
                                                        </td>
                                                        <td style="text-align: center; white-space: nowrap;">
                                                            58,78
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            1
                                                        </td>
                                                        <td>
                                                            0458645
                                                        </td>
                                                        <td>
                                                            Батон нарезной упакованный половинка 200г. Арххлеб
                                                        </td>
                                                        <td style="text-align: center; white-space: nowrap;">
                                                            2 шт.
                                                        </td>
                                                        <td style="text-align: center; white-space: nowrap;">
                                                            29,39
                                                        </td>
                                                        <td style="text-align: center; white-space: nowrap;">
                                                            58,78
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            1
                                                        </td>
                                                        <td>
                                                            04586
                                                        </td>
                                                        <td>
                                                            Батон нарезной упакованный половинка нарезной упакованный половинка нарезной упакованный половинка нарезной упакованный половинка нарезной упакованный половинка 200г. Арххлеб
                                                        </td>
                                                        <td style="text-align: center; white-space: nowrap;">
                                                            2 шт.
                                                        </td>
                                                        <td style="text-align: center; white-space: nowrap;">
                                                            29,39
                                                        </td>
                                                        <td style="text-align: center; white-space: nowrap;">
                                                            58,78
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            1
                                                        </td>
                                                        <td>
                                                            0458
                                                        </td>
                                                        <td>
                                                            Батон нарезной упакованный половинка 200г. Арххлеб
                                                        </td>
                                                        <td style="text-align: center;">
                                                            2 шт.
                                                        </td>
                                                        <td style="text-align: center;">
                                                            29,39
                                                        </td>
                                                        <td style="text-align: center;">
                                                            58,78
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="wrapper">
                                            <table class="main-person" border="0" cellpadding="0" cellspacing="0" width="100%" height="" bgcolor="">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <span>Продавец: Шангеин И.Н.</span>
                                                        </td>
                                                        <td style="text-align: right;">
                                                            <span class="mod-bold">Итого (без стоимости доставки): 448,81 руб</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="wrapper">
                                            <table class="main-delivery" cellpadding="0" cellspacing="0" width="100%" height="" bgcolor="">
                                                <thead>
                                                    <tr>
                                                        <td rowspan="2">
                                                            <span class="mod-bold">Адрес доставки</span>
                                                        </td>
                                                        <td colspan="2" style="text-align: center; border-bottom: none; padding-bottom: 6px;">
                                                            <span class="mod-bold">Время доставки</span>
                                                        </td>
                                                        <td  rowspan="2" style="text-align: center;">
                                                            <span class="mod-bold">Тариф</span>
                                                        </td>
                                                        <td style="text-align: center; border-bottom: none; padding-bottom: 6px;">
                                                            <span class="mod-bold">Сумма</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; border-top: none; border-right: none; padding-top: 6px; padding-right: 65px;padding-left: 65px;">
                                                            <span>План</span>
                                                        </td>
                                                        <td style="text-align: center; border-top: none; border-left: none; padding-top: 6px; padding-right: 65px;padding-left: 65px;">
                                                            <span>Факт</span>
                                                        </td>
                                                        <td style="text-align: center; border-top: none; padding-top: 6px;">
                                                            <span>(руб.)</span>
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <span>Юбилейная, д.51, кв.43, подъезд 4, этаж 5</span>
                                                        </td>
                                                        <td style="text-align: center; white-space: nowrap;">
                                                            <span>09.04.20г.</span>
                                                            </br>
                                                            <span>9:00 - 12:00</span>
                                                        </td>
                                                        <td style="text-align: center;">
                                                            <span></span>
                                                        </td>
                                                        <td style="text-align: center;">
                                                            <span>Доставка курьером</span>
                                                        </td>
                                                        <td style="text-align: center; white-space: nowrap;">
                                                            <span>1 500</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="wrapper">
                                            <table class="main-person" border="0" cellpadding="0" cellspacing="0" width="100%" height="" bgcolor="">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <span>Курьер: Марсов А.Т.</span>
                                                        </td>
                                                        <td style="text-align: right;">
                                                            <span class="mod-bold">Итого (стоимость доставки): 1 500 руб</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="wrapper">
                                            <table class="main-total" border="0" cellpadding="0" cellspacing="0" width="100%" height="" bgcolor="">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <span style="font-size: 36px; font-weight: bold;">Итого к оплате: 1 948,81 руб.</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span style="font-size: 24px;">Претензий к количеству и качеству товара не имею</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="wrapper">
                                            <table class="main-sign" border="0" cellpadding="0" cellspacing="0" width="100%" height="" bgcolor="">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            
                                                        </td>
                                                        <td>
                                                            
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span>(Ф.И.О. полностью)</span>
                                                        </td>
                                                        <td>
                                                            <span>Подпись</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <!-- END MAIN CONTENT AREA -->
                                </tbody>
                            </table>

                            <!-- START footer -->
                            <div class="footer">
                                <table width="1240" border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td class="footer-block">
                                                <div class="footer-logo">
                                                    <img width="auto" height="auto" src="assets/img/form-logo.png">
                                                </div>
                                                ИП ЖЕМЧУГОВ НИКОЛАЙ ВЛАДИМИРОВИЧ </br>
                                                ИНН 292900100075 </br>
                                                ОГРНИП 304290117500244 серия 29 № 001081105 дата внесения записи: 23 июня 2004г. </br>
                                                Юридический адрес: г. Архангельск, ул. Кирпичного завода, д. 28, кв. 71. </br>
                                                Почтовый адрес: 163061, Выучейского 28, корп. 1 </br>
                                                Тел. (8182) 63-96-81, 69-96-94 бухгалтерия. Факс (8182) 63-96-81. </br>
                                                Паспортные данные: 11 04 073725 выдан ОВД Исакогорского округа 17.09.2003 г.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- END footer -->

                            <!-- END CENTERED WHITE CONTAINER -->
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>


    </body>
</html>
