<div class="catalog-new">
    <div class="item-card js-good-item">
        <div class="goods__fav js-fav">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 19 16" style="enable-background:new 0 0 19 16;" xml:space="preserve">
                <path d="M8.6,2.9l0.9,1.4l0.9-1.4c0.7-1.2,2-1.9,3.5-1.9C16.1,1,18,2.9,18,5.3c0,1-0.5,2.2-1.3,3.3
                    c-0.8,1.2-1.9,2.3-3.1,3.2c-1.1,1-2.3,1.8-3.2,2.3c-0.4,0.2-0.7,0.4-0.9,0.6c-0.2-0.1-0.6-0.3-0.9-0.6c-0.9-0.6-2-1.4-3.2-2.4
                    c-1.2-1-2.3-2.1-3.1-3.2C1.5,7.5,1,6.4,1,5.3C1,2.9,2.9,1,5.2,1C6.6,1,7.9,1.7,8.6,2.9z"></path>
            </svg>
        </div>
        <div class="item-card__name">
            <a href="/">Биойогурт Активия Киви Яблоко Виноград семена Чиа Матча 2,6% 140г</a>
        </div>
        <div class="item-card__img">
            <a href="/" style="background-image: url(assets/img/catalog/item-1.jpg)"></a>
        </div>
        <div class="item-card-info">
            <div class="item-card__price-top">
                <span class="mod-price">3 349,05</span> <span class="mod-rub">руб.</span> <span class="mod-unit">/шт.</span>
            </div>
            <div class="item-card__price-old">
                <span class="mod-price">54,05</span> <span class="mod-rub">руб.</span> <span class="mod-unit">/шт.</span>
            </div>
            <div class="item-card__price">
                <div class="item-card__price-text">
                    <svg 
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="15px" height="10px">
                        <path fill-rule="evenodd"  stroke="#404655" stroke-width="1px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
                        d="M2.500,0.500 L12.500,0.500 C13.605,0.500 14.500,1.395 14.500,2.500 L14.500,7.500 C14.500,8.605 13.605,9.500 12.500,9.500 L2.500,9.500 C1.395,9.500 0.500,8.605 0.500,7.500 L0.500,2.500 C0.500,1.395 1.395,0.500 2.500,0.500 Z"/>
                        <path fill-rule="evenodd"  stroke="#404655" stroke-width="1px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
                        d="M0.500,3.500 L14.500,3.500 L14.500,5.500 L0.500,5.500 L0.500,3.500 Z"/>
                    </svg>
                    цена по карте Снегири:
                </div>
                <div class="item-card__price-number">
                    <span class="mod-price">50,05</span> <span class="mod-rub">руб.</span> <span class="mod-unit">/шт.</span>
                </div>
            </div>
            <div class="item-card__profit">
                <p class="mod-all">ваша выгода: 1 257 руб.</p>
                <p class="mod-sum">сумма: 75.48 руб.</p>
            </div>
            <div class="item-card__buttons">
                <span class="item-card__btn mod-minus js-minus">-</span>
                <input class="item-card__counter js-input" type="tel" value="0" data-max="12" readonly="">
                <span class="item-card__unit">шт.</span>
                <span class="item-card__btn mod-plus js-plus">+</span>
            </div>
            <div class="item-card__bottom">
                <div class="item-card__amount">
                    <i class="fas fa-check"></i> Много
                </div>
                <span class="item-card__btn mod-plus js-plus">+</span>
            </div>
        </div>
        
    </div>
    <div class="item-card js-good-item">
        <div class="goods__fav js-fav">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 19 16" style="enable-background:new 0 0 19 16;" xml:space="preserve">
                <path d="M8.6,2.9l0.9,1.4l0.9-1.4c0.7-1.2,2-1.9,3.5-1.9C16.1,1,18,2.9,18,5.3c0,1-0.5,2.2-1.3,3.3
                    c-0.8,1.2-1.9,2.3-3.1,3.2c-1.1,1-2.3,1.8-3.2,2.3c-0.4,0.2-0.7,0.4-0.9,0.6c-0.2-0.1-0.6-0.3-0.9-0.6c-0.9-0.6-2-1.4-3.2-2.4
                    c-1.2-1-2.3-2.1-3.1-3.2C1.5,7.5,1,6.4,1,5.3C1,2.9,2.9,1,5.2,1C6.6,1,7.9,1.7,8.6,2.9z"></path>
            </svg>
        </div>
        <div class="item-card__name">
            <a href="/">Биойогурт Активия питьевой Вишня и семена Чиа 2,1% 260г</a>
        </div>
        <div class="item-card__img">
            <a href="/" style="background-image: url(assets/img/catalog/item-2.jpg)"></a>
        </div>
        
        <div class="item-card-info">
            <div class="item-card__price-top">
                <span class="mod-price">3 349,05</span> <span class="mod-rub">руб.</span> <span class="mod-unit">/шт.</span>
            </div>
            <div class="goods__tag-sale">
                <div class="goods__tag-sale-left">скидка по карте</div>
                <div class="goods__tag-sale-right">
                    -17%
                </div>
            </div>
            <div class="item-card__price">
                <div class="item-card__price-line-through">
                    <span>54,05</span> <span>руб.</span> <span>/шт.</span>
                </div>
                <div class="item-card__price-number">
                    <span class="mod-price">50,05</span> <span class="mod-rub">руб.</span> <span class="mod-unit">/шт.</span>
                </div>
            </div>
            <div class="item-card__profit">
                <p class="mod-sum">сумма: 75.48 руб.</p>
            </div>
            <div class="item-card__buttons">
                <span class="item-card__btn mod-minus js-minus">-</span>
                <input class="item-card__counter js-input" type="tel" value="0" data-max="12" readonly="">
                <span class="item-card__unit">шт.</span>
                <span class="item-card__btn mod-plus js-plus js-for-adults">+</span>
            </div>
            <div class="item-card__bottom">
                <div class="item-card__amount">
                    <i class="fas fa-check"></i> Много
                </div>
                <span class="item-card__btn mod-plus js-plus js-for-adults">+</span>
            </div>
        </div>
        
    </div>
    <div class="item-card js-good-item">
        <div class="goods__fav js-fav">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 19 16" style="enable-background:new 0 0 19 16;" xml:space="preserve">
                <path d="M8.6,2.9l0.9,1.4l0.9-1.4c0.7-1.2,2-1.9,3.5-1.9C16.1,1,18,2.9,18,5.3c0,1-0.5,2.2-1.3,3.3
                    c-0.8,1.2-1.9,2.3-3.1,3.2c-1.1,1-2.3,1.8-3.2,2.3c-0.4,0.2-0.7,0.4-0.9,0.6c-0.2-0.1-0.6-0.3-0.9-0.6c-0.9-0.6-2-1.4-3.2-2.4
                    c-1.2-1-2.3-2.1-3.1-3.2C1.5,7.5,1,6.4,1,5.3C1,2.9,2.9,1,5.2,1C6.6,1,7.9,1.7,8.6,2.9z"></path>
            </svg>
        </div>
        <div class="item-card__name">
            <a href="/">Биойогурт Активия Киви Яблоко Виноград семена Чиа Матча 2,6% 140г</a>
        </div>
        <div class="item-card__img">
            <a href="/" style="background-image: url(assets/img/catalog/item-3.jpg)"></a>
        </div>
        <div class="item-card-info">
            <div class="item-card__price-top">
                <span class="mod-price">3 349,05</span> <span class="mod-rub">руб.</span> <span class="mod-unit">/кг.</span>
            </div>
            <div class="item-card__price">
                <div class="item-card__price-number">
                    <span class="mod-price">50,05</span> <span class="mod-rub">руб.</span> <span class="mod-unit">/кг.</span>
                </div>
            </div>
            <div class="item-card__profit">
                <p class="mod-sum">сумма: 75.48 руб.</p>
            </div>
            <div class="item-card__buttons">
                <span class="item-card__btn mod-minus js-minus">-</span>
                <input class="item-card__counter js-input" type="tel" value="0" data-step="0.1" data-max="12" readonly="">
                <span class="item-card__unit">кг.</span>
                <span class="item-card__btn mod-plus js-plus">+</span>
            </div>
            <div class="item-card__bottom">
                <div class="item-card__amount">
                    <i class="fas fa-check"></i> Много
                </div>
                <span class="item-card__btn mod-plus js-plus">+</span>
            </div>
        </div>
        
    </div>
    <div class="item-card js-good-item in-cart">
        <div class="goods__fav js-fav">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 19 16" style="enable-background:new 0 0 19 16;" xml:space="preserve">
                <path d="M8.6,2.9l0.9,1.4l0.9-1.4c0.7-1.2,2-1.9,3.5-1.9C16.1,1,18,2.9,18,5.3c0,1-0.5,2.2-1.3,3.3
                    c-0.8,1.2-1.9,2.3-3.1,3.2c-1.1,1-2.3,1.8-3.2,2.3c-0.4,0.2-0.7,0.4-0.9,0.6c-0.2-0.1-0.6-0.3-0.9-0.6c-0.9-0.6-2-1.4-3.2-2.4
                    c-1.2-1-2.3-2.1-3.1-3.2C1.5,7.5,1,6.4,1,5.3C1,2.9,2.9,1,5.2,1C6.6,1,7.9,1.7,8.6,2.9z"></path>
            </svg>
        </div>
        <div class="item-card__name">
            <a href="/">Биойогурт Активия Киви Яблоко Виноград семена Чиа Матча 2,6% 140г</a>
        </div>
        <div class="item-card__img">
            <a href="/" style="background-image: url(assets/img/catalog/item-4.jpg)"></a>
        </div>
        <div class="item-card-info">
            <div class="item-card__price-top">
                <span class="mod-price">3 349,05</span> <span class="mod-rub">руб.</span> <span class="mod-unit">/шт.</span>
            </div>
            <div class="item-card__price-old">
                <span class="mod-price">54,05</span> <span class="mod-rub">руб.</span> <span class="mod-unit">/шт.</span>
            </div>
            <div class="item-card__price">
                <div class="item-card__price-text">
                    <svg 
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="15px" height="10px">
                        <path fill-rule="evenodd"  stroke="#404655" stroke-width="1px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
                        d="M2.500,0.500 L12.500,0.500 C13.605,0.500 14.500,1.395 14.500,2.500 L14.500,7.500 C14.500,8.605 13.605,9.500 12.500,9.500 L2.500,9.500 C1.395,9.500 0.500,8.605 0.500,7.500 L0.500,2.500 C0.500,1.395 1.395,0.500 2.500,0.500 Z"/>
                        <path fill-rule="evenodd"  stroke="#404655" stroke-width="1px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
                        d="M0.500,3.500 L14.500,3.500 L14.500,5.500 L0.500,5.500 L0.500,3.500 Z"/>
                    </svg>
                    цена по карте Снегири:
                </div>
                <div class="item-card__price-number">
                    <span class="mod-price">50,05</span> <span class="mod-rub">руб.</span> <span class="mod-unit">/шт.</span>
                </div>
            </div>
            <div class="item-card__profit">
                <p class="mod-all">ваша выгода: 1 257 руб.</p>
                <p class="mod-sum">сумма: 75.48 руб.</p>
            </div>
            <div class="item-card__buttons">
                <span class="item-card__btn mod-minus js-minus">-</span>
                <input class="item-card__counter js-input" type="tel" value="3" data-max="12" readonly="">
                <span class="item-card__unit">шт.</span>
                <span class="item-card__btn mod-plus js-plus">+</span>
            </div>
            <div class="item-card__bottom">
                <div class="item-card__amount">
                    <i class="fas fa-check"></i> Много
                </div>
                <span class="item-card__btn mod-plus js-plus">+</span>
            </div>
        </div>
        
    </div>
    <div class="item-card js-good-item in-cart">
        <div class="goods__fav js-fav">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 19 16" style="enable-background:new 0 0 19 16;" xml:space="preserve">
                <path d="M8.6,2.9l0.9,1.4l0.9-1.4c0.7-1.2,2-1.9,3.5-1.9C16.1,1,18,2.9,18,5.3c0,1-0.5,2.2-1.3,3.3
                    c-0.8,1.2-1.9,2.3-3.1,3.2c-1.1,1-2.3,1.8-3.2,2.3c-0.4,0.2-0.7,0.4-0.9,0.6c-0.2-0.1-0.6-0.3-0.9-0.6c-0.9-0.6-2-1.4-3.2-2.4
                    c-1.2-1-2.3-2.1-3.1-3.2C1.5,7.5,1,6.4,1,5.3C1,2.9,2.9,1,5.2,1C6.6,1,7.9,1.7,8.6,2.9z"></path>
            </svg>
        </div>
        <div class="item-card__name">
            <a href="/">Биойогурт Активия питьевой Вишня и семена Чиа 2,1% 260г</a>
        </div>
        <div class="item-card__img">
            <a href="/" style="background-image: url(assets/img/catalog/item-5.jpg)"></a>
        </div>
        
        <div class="item-card-info">
            <div class="item-card__price-top">
                <span class="mod-price">3 349,05</span> <span class="mod-rub">руб.</span> <span class="mod-unit">/шт.</span>
            </div>
            <div class="goods__tag-sale">
                <div class="goods__tag-sale-left">скидка по карте</div>
                <div class="goods__tag-sale-right">
                    -17%
                </div>
            </div>
            <div class="item-card__price">
                <div class="item-card__price-line-through">
                    <span>54,05</span> <span>руб.</span> <span>/шт.</span>
                </div>
                <div class="item-card__price-number">
                    <span class="mod-price">50,05</span> <span class="mod-rub">руб.</span> <span class="mod-unit">/шт.</span>
                </div>
            </div>
            <div class="item-card__profit">
                <p class="mod-sum">сумма: 75.48 руб.</p>
            </div>
            <div class="item-card__buttons">
                <span class="item-card__btn mod-minus js-minus">-</span>
                <input class="item-card__counter js-input" type="tel" value="3" data-max="12" readonly="">
                <span class="item-card__unit">шт.</span>
                <span class="item-card__btn mod-plus js-plus">+</span>
            </div>
            <div class="item-card__bottom">
                <div class="item-card__amount">
                    <i class="fas fa-check"></i> Много
                </div>
                <span class="item-card__btn mod-plus js-plus">+</span>
            </div>
        </div>
        
    </div>
    <div class="item-card js-good-item">
        <div class="goods__fav js-fav">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 19 16" style="enable-background:new 0 0 19 16;" xml:space="preserve">
                <path d="M8.6,2.9l0.9,1.4l0.9-1.4c0.7-1.2,2-1.9,3.5-1.9C16.1,1,18,2.9,18,5.3c0,1-0.5,2.2-1.3,3.3
                    c-0.8,1.2-1.9,2.3-3.1,3.2c-1.1,1-2.3,1.8-3.2,2.3c-0.4,0.2-0.7,0.4-0.9,0.6c-0.2-0.1-0.6-0.3-0.9-0.6c-0.9-0.6-2-1.4-3.2-2.4
                    c-1.2-1-2.3-2.1-3.1-3.2C1.5,7.5,1,6.4,1,5.3C1,2.9,2.9,1,5.2,1C6.6,1,7.9,1.7,8.6,2.9z"></path>
            </svg>
        </div>
        <div class="item-card__name">
            <a href="/">Биойогурт Активия Киви Яблоко Виноград семена Чиа Матча 2,6% 140г</a>
        </div>
        <div class="item-card__img">
            <a href="/" style="background-image: url(assets/img/catalog/item-6.jpg)"></a>
        </div>
        <div class="item-card-info">
            <div class="item-card-absent">
                <p class="item-card-absent__text">Товара нет в наличии</p>
                <label class="goods__checkbox">
                    <input type="checkbox" checked="checked">
                    <span class="goods__checkbox-text">Уведомить о&nbsp;поступлении</span>
                    <span class="goods__checkmark"></span>
                </label>
            </div>
        </div>
    </div>
</div>